<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235532029606-6cgh2g9h76bmqksfmjtes9n0s463hpma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235532029606-6cgh2g9h76bmqksfmjtes9n0s463hpma</string>
	<key>API_KEY</key>
	<string>AIzaSyD9WDv2tDl-QykcFRmF6_qB9un5C8AAY4o</string>
	<key>GCM_SENDER_ID</key>
	<string>235532029606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezcf</string>
	<key>PROJECT_ID</key>
	<string>firetea-b5a01</string>
	<key>STORAGE_BUCKET</key>
	<string>firetea-b5a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235532029606:ios:ede1af07bf7ffba587ae67</string>
	<key>DATABASE_URL</key>
	<string>https://firetea-b5a01-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>