<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYhB9_MLB6ocZuGTDJAIIv0LOAPxJpz5g</string>
	<key>GCM_SENDER_ID</key>
	<string>259552928542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ihostel</string>
	<key>PROJECT_ID</key>
	<string>ihostel-ty</string>
	<key>STORAGE_BUCKET</key>
	<string>ihostel-ty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259552928542:ios:7ed923151527686cb35f0f</string>
</dict>
</plist>